@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    */
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1f293a;
}

.container {
  position: relative;
  width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container span {
  position: absolute;
  left: 0;
  width: 32px;
  height: 6px;
  background: #2c4766;
  border-radius: 8px;
  transform-origin: 128px; /* this will set transform origin for all 50 span sticks same as below rotation is applied differently according to value of --i 
                               same as below rotation is applied differently according to value of --i */
  transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
  animation: animateBlink 3s linear infinite;
  animation-delay: calc(var(--i) * (3s / 50)); /* same logic as used in transform rotate */
}

@keyframes animateBlink { /* this animation will run on every span stick & point to remember 
    & point to remember that the time mentioned in animation and it is this time(in this case - 3s) whose 0%, 25%, 50% conditions or styles are being set */
    0% {
        background: #0ef;
    }

    25% {
        background: #2c4766;
    }
}

.login-box {
  position: absolute;
  width: 400px;
  /* background: red; */
}

h2 {
  font-size: 2em;
  color: #0ef;
  text-align: center;
}

.login-box form {
  width: 100%;
  padding: 0 50px;
}

.input-box {
  position: relative;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #2c4766;
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  color: #fff;
  padding: 0 20px;
  transition: 0.5s ease;
}

.input-box input:focus,
.input-box input:valid {
  border-color: #0ef;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: 1px;
  font-size: 0.8em;
  background: #1f293a;
  padding: 0 6px;
  color: #0ef;
}

.forgot-pass {
  margin: -15px 0 10px;
  text-align: center;
}

.forgot-pass a {
  font-size: 0.85em;
  color: #fff;
  text-decoration: none;
}

.forgot-pass a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #0ef;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #1f293a;
  font-weight: 600;
}

.signup-link {
  margin: 20px 0 10px;
  text-align: center;
}

.signup-link a {
  font-size: 1em;
  color: #0ef;
  text-decoration: none;
  font-weight: 600;
}

.signup-link a:hover {
  text-decoration: underline;
}

#button {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f293a;
}

#button i {
  font-size: 2em;
  color: #0ef;
}
